// Include all of Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss";


.html, body {
	heigth: 100%;
}

body {
	background: #eee;
}


.navbar-header {
	display: none;
}

.navbar-default {	
	background: rgba(34, 34, 34, 1);
	border-color: #111;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;  
}

.navbar-default .navbar-nav > li > a, 
.navbar-default .navbar-text {
	color: #aaa;
	-webkit-transition: color .3s ease-in-out;
	-moz-transition: color .3s ease-in-out;
	-ms-transition: color .3s ease-in-out;
	-o-transition: color .3s ease-in-out;	
	transition: color .3s ease-in-out;
	&:hover {color: #fff;}
}

.navbar .navbar-collapse {
  text-align: center;
}

.img-holder {
	background-size: cover;
	width: 25%;
	height: 300px;
	// margin: 20px;
	background-position: center;
	background-repeat: no-repeat;
	float: left;
	box-shadow: 3px 3px 2px #ccc;

	.dark-filter {
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, 0.5);
		-webkit-transition: all .5s ease-in-out;
		-moz-transition: all .5s ease-in-out;
		-ms-transition: all .5s ease-in-out;
		-o-transition: all .5s ease-in-out;	
		transition: all .5s ease-in-out;		

		&:hover {
			background: rgba(0, 0, 0, 0);
		}
	}

}

.page-content {
	margin-top: 50px;
}

.img-wrapper {
	// margin: 0 auto;
	// width: 1020px;
}
