// Include all of Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss";


.html, body {
	heigth: 100%;
}

body {
	background: #ccc;
}


.navbar-header {
	display: none;
}

.navbar-default {
	background: rgba(255, 255, 255, 0.7);
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;  
}

.navbar .navbar-collapse {
  text-align: center;
}