<html>
<head>
    <title>FlickrTown</title>
    <link rel="stylesheet" type="text/css" href="/css/app.min.css">
    <link type="text/css" href="http://cdn.logograph.com/lib/swipebox/css/swipebox.min.css" rel="stylesheet">
    <script type="text/javascript" src="http://cdn.logograph.com/lib/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="http://cdn.logograph.com/lib/swipebox/js/jquery.swipebox.min.js"></script>
    <script type="text/javascript">
    $(function() {
    	$('.swipebox').swipebox();
	});
	</script>
</head>
<body>
<div class="navbar navbar-default navbar-fixed-top" role="navigation">      		
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand menu" href="#home">FlickrTown.</a>
		</div>
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li><a class="menu" href="/?city=New+York">New York</a></li>
				<li><a class="menu" href="/?city=London">London</a></li>
				<li><a class="menu" href="/">Montreal</a></li>
				<li><a class="menu" href="/?city=Toronto">Toronto</a></li>
				<li><a class="menu" href="/?city=Los+Angeles">Los Angeles</a></li>
			</ul>			
		</div><!--/.nav-collapse -->
	</div>
</div>

<div class="page-content">
<div class="container1">

<div class="img-wrapper">
<% 
	if (data.length > 20) {
		var numOfPics = 20;
	} else {
		var numOfPics = data.length;
	}

	for (var i = 0; i < numOfPics; i++) { %>
	<a rel="gallery-2" href="<%=data[i].imgLg %>" class="swipebox">
		<div class="img-holder"  style="background-image: url('<%=data[i].imgSm %>');">
			<div class="dark-filter"></div>
		</div>
		<img src="<%=data[i].imgLg %>" alt="image" style="display: none;">
	</a>
	
<% } %>
</div>


</div>

</body>
</html>